<!DOCTYPE html>

<style>
    body{
        background-color: green;
        color: blue;
        font-family: monospace;
    }
</style>

<main>
    <body>
        <h1> Hello World </h1>
    </body>
</main>